#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#light-label {
  margin: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Source: https://codepen.io/team/css-tricks/pen/EKEYob */
.flex-container {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 15px;
  padding-bottom: 30px;
  margin: 50px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
/*   background-color: blue; */
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  /*line-height: 1.25;*/ /* distance btwn light-label and light*/
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00ff00;
  margin: 0 auto; /*center the circle*/
  box-shadow: 0 0px 20px #00ff00a6;
  margin-bottom:10px; /*Distance between circle and button*/
 }

.button {
  border-radius: 5px;
  padding: 5px;
}

.green {
  border-color: rgb(51, 255, 51);
}

.red {
  border-color: rgb(255, 51, 51);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  margin-left: 0px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  padding: 1px 16px;
  background-color: #5cb85c;
  color: white;
}

 	
.modal-body {padding: 15px 16px;}
